.searchExercises {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.searchExercises h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  color: #000;
  text-shadow: 0 0 2px #000;
  margin-bottom: 1rem;
}

.muscleGroupButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  max-width: 800px;
}

.muscleGroupButtons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #ad2c46;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.muscleGroupButtons button:hover {
  background-color: #0056b3;
}

.exerciseItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 5px;
  width: 800px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.exerciseItem:hover {
  transform: scale(1.05);
}
